
$telefono: 480px;
$tablet  : 768px;
$desktop : 1024px; 



// Colores
$color-bg: #1f1f38;
$color-bg-variable: #2c2c6c;
$color-primario: #4db5ff;
$color-primario--variable: rgba( 77, 181,255, .4);    
$color-blanco: #fff;
$color-light: rgba( 255, 255, 255, .6);

$transition: all 400ms ease ; 


